{% extends 'admin/master.html' %}
{% import 'admin/static.html' as admin_static with context%}
{% import 'admin/lib.html' as admin_lib with context %}
{% import 'shelf/lib.html' as lib with context %}
{% import 'shelf/model/layout.html' as model_layout with context %}

{% macro extra_btn() %}
    <li class="actions">
        <a role="submit" class="_add_another" href="javascript:void(0)">
            <i class="fa fa-refresh"></i> {{ _gettext('Save and Add') }}
        </a>
    </li>
{% endmacro %}

{% macro extra_fld() %}
{% endmacro %}

{% block head %}
    {{ super() }}
    {{ admin_lib.form_css() }}
    <link href="{{ url_for('shelf.static', filename='switchery/switchery.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- Exemple des integratoins -->
<div class="row">
<div class="col-xs-12">
<!-- Formulaire Champs statique pour intégration css -->
<form>
    <!-- Champ texte ac traduction -->
    <div class="form-group ">
        <label for="testTitle">Test title</label>
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle--chevron" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FR <i class="fa fa-angle-down"></i></button>
            <ul class="dropdown-menu">
              <li><a href="#">Fançais (french)</a></li>
              <li><a href="#">Anglais (english)</a></li>
              <li><a href="#">Espagnol (spanish)</a></li>
            </ul>
          </div><!-- /btn-group -->
          <input id ="testTitle"type="text" class="form-control" placeholder="Title exemple" required="required">
        </div><!-- /input-group -->
    </div><!-- . -->

    <div class="form-group">
        <label for="testSubTitle">Champ normal</label>
        <input id ="testSubTitle" type="text" class="form-control" placeholder="subtitle exemple" required="required" >
    </div><!--  . -->


    <div class="form-group">
        <label for="testlien">Url/lien</label>
        <div class="input-group">
            <input id="testlien" type="text" class="form-control" placeholder="URL" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            </span>
        </div>
    </div>

<!-- Les feedback visuel sur les champ (a appliquer en js)-->
    <div class="form-group has-success has-feedback">
        <label for="">Test succes</label>
        <input id ="" type="text" class="form-control" >
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    </div>

    <div class="form-group has-error has-feedback ">
        <label for="">Test error</label>
        <input id ="" type="text" class="form-control" >
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
<!-- /end feedback visuel sur les champs -->


<!-- Tool tips info sur les champs-->
    <div class="form-group ">
        <label for="" data-toggle="tooltip" data-placement="top" title="Pas d'accents n'y d'espace !">Infos champs en tooltip ?</label>
        <input id ="" type="text" class="form-control" >
    </div>
<!-- /end tooltip -->


<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-tabs--grey" role="tablist">
    <li role="presentation" class="active"><a href="#fr-dec" aria-controls="fr-desc" role="tab" data-toggle="tab">FR</a></li>
    <li role="presentation"><a href="#en-desc" aria-controls="en-desc" role="tab" data-toggle="tab">EN</a></li>
    <li role="presentation"><a href="#es-desc" aria-controls="es-desc" role="tab" data-toggle="tab">ES</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="fr-desc">FR...</div>
    <div role="tabpanel" class="tab-pane" id="en-desc">EN...</div>
    <div role="tabpanel" class="tab-pane" id="es-desc">ES...</div>
  </div>
</div>
</form>
<!-- End champ statique formulaire -->

<!-- Les feedback apres validation du form (retour serveur) -->
    <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <h4>Oh snap! You got an error!</h4> <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p> </div>

    <div class="alert alert-success alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <h4>Nice</h4> <p>Tt ce passe bien</p> </div>

    <div class="alert alert-warning alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <h4>Message</h4> <p>le message</p> </div>
<!-- end feedback -->
</div>
</div><!-- end Exemple des integratoins -->




    <div class="row create">
       
        <div class="col-sm-9 col-xs-12">
            <div class="title">
                {% block model_create_title %}
                    <h1>{{ admin_view.name.upper() }}</h1>
                {% endblock %}
            </div>
            <div class="content">
              {% call lib.form_tag(form) %}
                  {{ lib.render_form_fields(form, form_opts=form_opts, extra=extra_fld()) }}
              {% endcall %}
            </div>
        </div>

    <div class="hidden-xs col-xs-3 l-menulateral">
        <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="60" data-offset-bottom="0">
            <li class="OK "><a href="#name">Nom</a></li>
            <li class="OK "><a href="#reference">Référence</a></li>
            <li class="empty "><a href="#is_stock">En stock</a></li>
            <li class="empty "><a href="#etc">Etc ...</a></li>
        </ul>
    </div>


    </div><!--HB :  Alex j'ai rajouté cette balise pour fermer la div class="row create" je pense qu'elle manque. Supprimes la si elle se ferme ailleur -->
{% endblock %}

{% block page_body %}
    {{ super() }}
    {% call lib.navbar(admin_view.name, pos="bottom") %}
        {{ lib.render_form_buttons(return_url, extra_btn()) }}
    {% endcall %}
{% endblock %}

{% block tail_js %}
    <!-- super -->
    {{ super() }}
    <!-- hey -->
    {{ admin_lib.form_js() }}
    <!-- ho -->
    <script src="{{ url_for('shelf.static', filename='switchery/switchery.min.js') }}"></script>
    <script language="javascript">
        (function($) {
            $('a.save-model').click(function (e) {
                $("form.model-form").submit();
                e.stopPropagation();
            });

            $('a._add_another').click(function (e) {
                $("form.model-form").append(
                    "<input type='hidden' name='_add_another' value='1'></input>"
                );
                $("form.model-form").submit();
                e.stopPropagation();
            });

            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

            elems.forEach(function(html) {
              var switchery = new Switchery(html, { color: '#a9a3d9', secondaryColor: '#e0e0e0' });
            });

            $('[data-toggle="tooltip"]').tooltip(); //Pour faire fonctionnerles tooltip de bootstrap
        })(jQuery);
    </script>
{% endblock %}
